.fl-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-cl {
    display: flex;
    flex-direction: column;
}
.fl-cl-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fl-cl-between-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.fl-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fl-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.fl-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fl-start-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.fl-between-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.fl-cl-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 3upx 6upx 1upx rgba(189,190,193,0.2000);
    border-radius: 16upx;
    box-sizing: border-box;
}
.in-mg-center {
    display: inline-block;
    margin: auto;
}
.car-no {
    background: url('http://localhost:3000/images/user/car-num-bg.png');
    background-size: 100% 100%;
    width: 150upx;
    height: 44upx;
    font-size: 26upx;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 44upx;
}